<!-- Template for listing all posts -->

<ul>
    <!-- <h2>Latest Blog Posts</h2> -->
    {% for post in posts %}
      <li style="list-style: none;">
            <h4>{{ post.title|title }}</h4>
            <p>
                {{post.content|truncatewords:18}} <a href="{% url 'viewing_post' pk=post.id %}">Read More</a>
            </p>
            <h6>By: {{ post.author}}</h6>
            <h6>{{ post.published_date}}</h6>
            
              <ul style="display: flex;">
                <h5>Tags:</h5>
                {% for i in post.tags.all %}
                  <h6 style="background-color: #f1f1f1; margin-left: 5px; padding: 5px;">{{ i }}</h6>
                {% endfor %}
              </ul>
              
      </li>
    {% endfor %}
    
    <a href="{% url 'home' %}">
        <button>Back to Home</button>
    </a>
</ul>