{% extends 'blog/base.html' %}
{% block content %}
<h1>
    Welcome {{ user.username }}
</h1>
<h2>Your Blogs</h2>
{% for post in posts %}
      <li>
            <h4>{{ post.title|title }}</h4>
            <p>
                {{post.content|truncatewords:18}} <a href="{% url 'viewing_post' pk=post.id %}">Read More</a>
                <a href="{% url 'update_post' pk=post.id %}"><button>Edit Post</button> </a> <a href="{% url 'delete_post' pk=post.id %}"><button>Delete Post</button></a>
            </p>
            <h6>By: {{ post.author|title }}</h6>
            <h6>{{ post.published_date}}</h6>
      </li>
{% endfor %}

{% endblock %}